@charset "utf-8";
@media screen and (min-width:480px){
    .main_sec {
        padding: 110px 0;
    }
/*     .main_visual_sec {
        background-color: #cb8282;
        display: none;
    }
    .main_news_sec {
        background-color: #c4b970;
        display: none;
    } */
    .main_client_sec {
        /* background-color: #6997cb; */
        background: url("../src/img/client_row_bg.jpg") center center / cover no-repeat;
        /* display: none; */
        
    }
    .main_information_sec {
        /* height: 2000px; */
        background-color: #ffffff;
        /* display: none; */
    }

    /* 고객 부분 시작 */

    .main_client_sec {
        background-image: ("../src/img/client_row_bg.jpg");
    }

    .client_container wrap {
        padding-top: 110px;
        padding-bottom: 115px;
    }

    .client_tit_inner {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
        /* background-color: #8fcb82; */
    }

    .client_tit {
        max-width: 800px;
        margin: 0 auto;
        font-size: 46px;
        font-weight: 300;
        word-break: keep-all;
    }

    .client_tit b {
        font-weight: 500;
    }

    .client_tit_inner p {
        font-size: 16px;
        margin-bottom: 30px;
    
    }
    

    .client_inner {
        width: 100%;
        /* background-color: #c4b970; */
        font-size: 16px;
        color: #fff;
        overflow: hidden;
        /* padding: 40px 0; */
    }

    
    .client_memus {
        text-align: center;
        color: #fff;
    }

    .client_memus_each {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* padding: 35px 45px; */
    }

    .client_memus_each .client_menu1 {
        background: linear-gradient(135deg, transparent 30px, rgba(17, 89, 200, 0.75) 0); opacity : 0.9;
        width: 50%;
        padding: 50px;
    }
    
    

    .client_memus_each .client_menu2 {
        background: linear-gradient(-45deg, transparent 30px, rgba(3, 129, 162, 0.75) 0); opacity : 0.9;
        width: 50%;
        padding: 50px;
    }
    
    .client_memus_each ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .client_memus_each h3 {
        margin-bottom: 15px;
        font-size: 28px;
        font-weight: 500;
    }

    .client_memus_each p {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 300;
    }
    
    .client_memus_each ul a {
        width: 25%;
        text-decoration: none;
        color: #fff;
        /* 나중에 hover 디자인컨셉 바뀜(아이콘에 그라이데션) */
        a:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .client_btn_icon {
        width: 100px;
        height: 100px;
        background: #fff url(../src/img/client_menu_ico1.png) center no-repeat;
        border-radius: 40px;
        margin: 0 auto 15px;
        transition: all 0.3s;
    }

    .add_icon01 {
        background: #fff url(../src/img/client_menu_ico2.png) center no-repeat;
    } 

    .add_icon02 {
        background: #fff url(../src/img/client_menu_ico3.png) center no-repeat;
    } 

    .add_icon03 {
        background: #fff url(../src/img/client_menu_ico4.png) center no-repeat;
    } 

    .add_icon04 {
        background: #fff url(../src/img/client_menu_ico5.png) center no-repeat;
    } 

    .add_icon05 {
        background: #fff url(../src/img/client_menu_ico6.png) center no-repeat;
    } 

    .add_icon06 {
        background: #fff url(../src/img/client_menu_ico7.png) center no-repeat;
    } 

    .add_icon07 {
        background: #fff url(../src/img/client_menu_ico8.png) center no-repeat;
    } 

    .client_btn_icon:hover {
        box-shadow: 0px 0px 20px black;
    }
    /* 바로가기 */

    .client_link_section {
        position: relative;
        /* width: calc(100% - 30px); */
        background: #1b4690 url(../src/img/client_cyber_bg.png);opacity : 0.9;
        background: linear-gradient(-135deg, transparent 20px,#2d5cae 0);
    }

    .some_deco {
        content: '';
        display: block;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 2;
        border-left: 30px solid #0c2f6d;
        border-top: 30px solid transparent;
    }

    .client_link_section img {
        position: absolute;
        left: 55px;
        bottom: 0;
    }

    .client_link_more {
        display: block;
        height: 84px;
        position: relative;
        margin-top: 28px;
        padding-left: 24%;
    }
    
    .client_link_more p{
        display: inline-block;
        color: #fff;
        font-size: 18px;
        vertical-align: middle;
        word-break: keep-all;
        line-height: 2.8;
        vertical-align: middle;
    }

    .client_link_more span {
        display: inline-block;
        position: absolute;
        right: 4.5%;
        top: 50%;
        line-height: 23px;
        margin-top: -11px;
        padding-right: 35px;
        color: #fff;
        font-size: 15px;
        a {
            text-decoration: none;
            color: #fff;
        }
        
        a:hover {
            color: #fff;
            text-decoration: none;
        } 
    }

    .btn_arrow {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        border-radius: 50%;
        background: rgba(28, 73, 150, 0.8) url(../src/img/client_cyber_arr.png) center / 11px no-repeat;
    }

/* 메인섹션 information */
.information_container {}

.information_section_top_1st h3{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}
.information_section_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information_section_top_1st {
    /* background-color: #1b4690; */
    width: 33%;
    
}

.information_section_top_1st .top_1st_image_bg {
    display: block;
    width: 100%;
    height: 375px; 
    /* padding: 0px 40px 40px; */
    background: url(../src/img/press_bg.png) no-repeat center top 39px;
    position: relative;
}

.top_1st_inner_poster {
    /* position: absolute;
    left: 0; */
    width: auto;
    height: 312px;
    background: url(../src/img/inner_box.png) center / contain no-repeat;
}


.inner_box_btn {
    position: absolute;
    background: #2d5cae;
    width: 215px;
    height: 50px;
    text-align: center;
    transform: skew(-22deg);
    left: 50%;
    margin-left: -115px;
    bottom: 40px;
    padding: 13px 0;
}

.inner_box_btn_tit {
    color: #fff;
    font-size: 17px;
    display: inline-block;
    transform: skew(22deg);
}

.information_section_top_2nd  {
    /* background-color: #0b64ff; */
    width: 29.7%;
    position: relative;
}
.information_section_top_2nd h3 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.information_section_top_2nd a {
    display: block;
    height: 375px;
    background: url(../src/img/statistics_bg.jpg) center / cover no-repeat;
    transition: all 0.3s;
}

.information_section_top_2nd .top_2nd_cont {
    position: absolute;
    left: -20px;
    bottom: 35px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    word-break: keep-all;
}

.information_section_top_bg_deco {
    /* background-color: #0c2f6d; */
    height: 258.53px;
    right: 0;
    top: 0;
    width: 325px;
    background: url(../src/img/info_top_row_deco.png) center / contain no-repeat;
}

/* 사보 & 전기재해통계 end */
.information_section_mid {
    /* background-color: #cb8282; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.information_section_mid_1st {
    width: calc(72.3% - 40px);
    /* background-color: #c4b970; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information_section_mid_1st h3 {
    /* background-color: #ffffff; */
    width: 18%;
    height: 170px;
    padding-top: 15px;
    position: relative;
    border: 10px solid #2d5cae;
    border-top-color: transparent;
    border-right-color: transparent;
    color: #2d5cae;
    font-size: 26px;
    font-weight: 700;
    text-align: right;
}

.mid_1st_tit_deco1 {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 73%;
    border-top: 10px solid #2d5cae;
    border-right: 10px solid transparent;
}

.mid_1st_tit_deco2 {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    bottom: -10px;
    height: 51%;
    border-right: 10px solid #2d5cae;
    border-top: 10px solid transparent;
}

.information_section_mid_1st .information_cont{
    /* background-color: #e68bfb; */
    width: 75%;
}

.information_cont a {
    width: 24.5%;
    background-color: #ffffff;
    display: block;
    height: 170px;
    background: #fff url(../src/img/iopen_quick_ico1.png) center 36px / 60px no-repeat;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s;
}

.information_cont a:nth-child(2) {
    background: #fff url(../src/img/iopen_quick_ico2.png) center 36px / 60px no-repeat;
}
.information_cont a:nth-child(3) {background: #fff url(../src/img/iopen_quick_ico3.png) center 36px / 60px no-repeat;}
.information_cont a:nth-child(4) {background: #fff url(../src/img/iopen_quick_ico4.png) center 36px / 60px no-repeat;}

.information_cont li {
    display: block;
    height: 170px;
    padding: 122px 10px 0;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s;
    /* font-style: ; 기본 폰트가 너무 두꺼움 얇은걸로 바꿔야됨 */
}

.information_cont a:hover {
    text-decoration: none;
}


.information_cont a {
    display: inline-block;
}

.information_section_mid_2nd {
    width: 27.7%;
    /* background-color: aqua; */
    background: url(../src/img/power_bg.jpg)center / cover no-repeat;
    margin-top: -37px;
    height: 340px;

}

.information_section_mid_2nd h3 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    margin-top: -50px;
}

.mid_2nd_icons_bg {
    position: relative;
    overflow: hidden;
    z-index: 2;
    height: 120px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 120px 120px 0 0;
}

.mid_2nd_icons_fill1 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.mid_2nd_icons_fill2 {
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    background-color: #1fcedc;
    transform-origin: top center;
}

.information_section_mid_2nd a {
    /* background-color: #cb8282; */
    height: 100px;
    width: 33%;
    
}

.mid_2nd_conts {
    color: #fff;
    text-align: center;
}

.information_section_mid_2nd a:hover {
    text-decoration: none;
}

.mid_2nd_text_numb {
    display: block;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-size: 42px;
    font-weight: 500;
    line-height: 1;
}

.mid_2nd_text_amount {
    color: #b8c1cc;
    font-size: 37px;
}

.mid_2nd_text_deco1 {
    background-color: #238eeb;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 8px;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 17px;
}

.mid_2nd_text_deco2 {
    display: block;
}
/* .mid_2nd_img {
    background-color: #0c2f6d;
    height: 10px;
    width: 10px;
    background: url(../src/img/power_bg.jpg)center / cover no-repeat;
} */

/* 정보공개 $ 현재예비전력 end */

.information_section_button {
    display: flex;
    flex-wrap: wrap;
    justify-content: wrap;
    /* background-color: antiquewhite; */
    position: relative;
}

.information_section_button_1st {
    height: 48vh;
    padding-top: 40px;
    width: calc(50% - 120px);
    background: #1f4481 url(../src/img/info_btm_row_bg.jpeg) center / cover no-repeat;
}

.information_section_button_1st h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1;
}

.information_section_button_1st .button_1st_more {
    position: absolute;
    display: inline-block;
    right: 0%;
    top: 0%;
}

.information_section_button_1st_conts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* background-color: #fff; */
    /* display: block; */
}

.information_section_button_1st_conts a {
    background-color: #fff;
    display: block;
    margin-right: 14px;
    height: 401px;
    overflow: hidden;
}

.information_section_button_1st_conts{
    position: relative;
}

.information_conts_deco {
    /* content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background: url(../src/img/bid_board_deco.png) center no-repeat; */
    /* background-color: #cb8282; */
    width: 38px;
    height: 38px;
    display: block;
    position: absolute;
    background: url(../src/img/bid_board_deco.png) center no-repeat;
}

.information_section_button_1st_conts dt {
    /* overflow: hidden; */
    height: 2.8em;
    line-height: 1.4;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    padding: 40px 25px 20px;
}

.information_section_button_1st_conts dd {
    overflow: hidden;
    height: 17.2em;
    line-height: 1.5;
    margin-bottom: 35px;
    color: #777;
    font-size: 16px;
    -webkit-line-clamp: 4;
    padding: 40px 25px 20px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.information_section_button_1st_conts dd:hover {
    text-decoration: none;
}

.information_5section_button_2nd {
    width: 50%;
}

.information_section_button_2nd {
    margin-left: 40px;
}

.information_section_button_2nd h3 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    padding-top: 40px;
}

.information_section_button_2nd p {
    margin-bottom: 45px;
    color: #777;
    font-size: 16px;
    position: relative;
}

.button_2nd_link_box1 {
    content: '';
    display: block;
    z-index: -1;
    width: 50%;
    height: 10%;
    background-color: #2d5cae;
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    transition: all 0.3s;
    margin-bottom: -30px;
}

.button_2nd_link_box2 {
    content: '';
    display: block;
    z-index: -1;
    width: 50%;
    height: 10%;
    background-color: #1fb8c6;
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    transition: all 0.3s;
    margin-left: 220px;
}

.button_2nd_link1 {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 200px;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    vertical-align: top;
    transform: skew(20deg);
}

.button_2nd_link2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 200px;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    vertical-align: top;
    transform: skew(20deg);
}

.information_section_button_deco {
    background: url(../src/img/pr_rec_people.png) center no-repeat;
    /* background-color: #1fb8c6; */
    height: 100%;
    width:312px;
    position: absolute;
    display: inline;
    right: -60px;
    top: -100px;
}

.information_potal_link {
    background: url(../src/img/gov_share_bg.jpg) center / cover no-repeat;
    display: block;
    background-color: gainsboro;
    /* width: ; */
    height: 250px;
    width: ;
    margin-top: 100px;
}
/* 입찰공고 & 홍보센터/채용 end */